# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# database (SQLite dev)
*.db
*.db-journal
/prisma/dev.db
/prisma/*.db
/prisma/migrations/dev/

# env
.env
.env*.local

# misc
.DS_Store
*.pem
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
*.tsbuildinfo

# generated prisma client
/src/generated
